.spikeEditable {
	outline: none;
}
.spikeEditable:hover {
	box-shadow: 0px 0px 15px #6FAEE4;
	-webkit-box-shadow: 0px 0px 15px #6FAEE4;
	-moz-box-shadow: 0px 0px 15px #6FAEE4;
}
.spikeEditable:focus {
	box-shadow: 0px 0px 15px #6FAEE4;
	-webkit-box-shadow: 0px 0px 15px #6FAEE4;
	-moz-box-shadow: 0px 0px 15px #6FAEE4;
}
.spikeEditable img {
	cursor: default;
}
.spikeEditable img:focus {
	outline: none;
}
#spikeToolbar {
	background-color: #000000;
	color: #BBBBBB;
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	padding: 5px;
}
#spikeToolbar a {
	color: #FFFFFF;
	text-decoration: none;
}
#spikePropertyInspector {
	background-color: #000000;
	color: #BBBBBB;
	position: fixed;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 5px;
	
	/* TODO: Just to show what it will look like, remove when we have real content */
	height: 100px;
}